<form [formGroup]="form">
    <div class="grid">

        <div class="col-12 form-title-section">
            <h3>
                {{l('Examples.Arrobar')}}
            </h3>
            <div class="form-toolbar">
                <p-button type="button" label="Guardar" (onClick)="saveContent()"></p-button>
                <p-button type="button" label="Restaurar" (onClick)="setContent()"></p-button>
                <p-button type="button" label="Verificar" (onClick)="getMentions()"></p-button>
            </div>
        </div>

        <div class="col-12">
            <div class="card">

                <div class="p-fluid">
                    <p-editor #editor
                                name="editor1"
                               formControlName="editorValue"
                               (onInit)="editorOnInit($event)"
                               [style]="{'height':'320px'}">
                    </p-editor>
                </div>
            </div>
        </div>

    </div>
</form>
