<div class="grid">

    <div class="col-12 form-title-section">
        <div></div>
        <div class="form-toolbar">
            <p-button type="button" styleClass="p-button-secondary" label="{{l('Return')}}" (onClick)="return()"></p-button>
            <p-button type="button" label="{{l('Save')}}" (onClick)="save()"></p-button>
            <p-button type="button" label="{{l('ShowChangeHistory')}}" (onClick)="showChangeHistory()" *ngIf="id"></p-button>
            <p-button type="button" styleClass="p-button-rounded p-button-warning" icon="pi pi-question" (onClick)="helpOnScreenService.show('PROCESSES.TEMPLATESECTION.FORM', true)"></p-button>
        </div>
    </div>

    <div class="col-12">

        <form [formGroup]="form">
            <h5>{{l('GeneralData')}}</h5>

            <div class="p-fluid">
                <div class="field grid">
                    <label class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["templateSection"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        {{templateSectionDesc}}
                    </div>
                </div>
                <div class="field grid">
                    <label class="col-12 md:col-4 lg:col-3">{{fieldLabels["status"]}}</label>
                    <div class="col-12 md:col-5 lg:col-3">
                        {{statusDesc}}
                    </div>
                </div>
                <div class="field grid">
                    <label for="name" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["name"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <input type="text" formControlName="name" id="name" autocomplete="off" maxlength="30" pInputText />
                    </div>
                </div>
                <div class="field grid" *ngIf="id">
                    <label for="fieldName" class="col-12 md:col-4 lg:col-3">{{fieldLabels["fieldName"]}}</label>
                    <div class="col-12 md:col-5 lg:col-3">
                        {{model.fieldName}}
                    </div>
                </div>
                <div class="field grid">
                    <label for="fieldType" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["fieldType"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <p-dropdown [options]="fieldTypeCombo" formControlName="fieldType" placeholder="{{l('Select')}}" (onChange)="onChangeFieldType()"></p-dropdown>
                    </div>
                </div>
                <div class="field grid" *ngIf="f.fieldType.value === TemplateFieldType.Text.toString() || f.fieldType.value === TemplateFieldType.Decimal.toString()">
                    <label for="fieldSize" class="col-12 md:col-4 lg:col-3" *ngIf="f.fieldType.value === TemplateFieldType.Text.toString()">
                        {{fieldLabels["fieldSize"]}}<span class="required"> *</span>
                    </label>
                    <label for="fieldSize" class="col-12 md:col-4 lg:col-3" *ngIf="f.fieldType.value === TemplateFieldType.Decimal.toString()">
                        {{fieldLabels["decimalPartSize"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-6 lg:col-3">
                        <p-inputNumber [showButtons]="true" formControlName="fieldSize" [min]="1" [max]="32000" [maxlength]="5" [step]="1"></p-inputNumber>
                    </div>
                </div>
                <div class="field grid">
                    <label for="fieldControl" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["fieldControl"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <p-dropdown [options]="fieldControlComboFiltered" formControlName="fieldControl" placeholder="{{l('Select')}}" (onChange)="onChangeFieldControl()"></p-dropdown>
                    </div>
                </div>
                <div class="field grid" *ngIf="f.fieldControl.value === TemplateFieldControl.InputMask.toString()">
                    <label for="inputMask" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["inputMask"]}}
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <input type="text" formControlName="inputMask" id="inputMask" autocomplete="off" maxlength="50" pInputText />
                    </div>
                </div>
                <div class="field grid" *ngIf="f.fieldControl.value === TemplateFieldControl.InputText.toString()">
                    <label for="hasKeyFilter" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["hasKeyFilter"]}}
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <p-checkbox id="hasKeyFilter" name="hasKeyFilter" [formControl]="form.controls['hasKeyFilter']" value="true" binary="true" (onChange)="onChangeHasKeyFilter()"></p-checkbox>
                    </div>
                </div>
                <div class="field grid" *ngIf="f.fieldType.value === TemplateFieldType.Template.toString()">
                    <label for="templateFieldRelationTemplate" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["templateFieldRelationTemplate"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <p-dropdown [options]="templateCombo" formControlName="templateFieldRelationTemplate" placeholder="{{l('Select')}}" (onChange)="onChangeTemplate()"></p-dropdown>
                    </div>
                </div>
                <div class="field grid" *ngIf="f.fieldType.value === TemplateFieldType.Template.toString()">
                    <label for="templateFieldRelationTemplateField" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["templateFieldRelationTemplateField"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <p-dropdown [options]="templateFieldCombo" formControlName="templateFieldRelationTemplateField" placeholder="{{l('Select')}}"></p-dropdown>
                    </div>
                </div>
                <div class="field grid" *ngIf="f.fieldControl.value === TemplateFieldControl.InputText.toString() && f.hasKeyFilter.value">
                    <label for="keyFilter" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["keyFilter"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <input type="text" formControlName="keyFilter" id="keyFilter" autocomplete="off" maxlength="500" pInputText />
                    </div>
                </div>
                <div class="field grid">
                    <label for="isRequired" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["isRequired"]}}
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <p-checkbox id="isRequired" name="isRequired" [formControl]="form.controls['isRequired']" value="true" binary="true"></p-checkbox>
                    </div>
                </div>
                <div class="field grid">
                    <label for="showOnGrid" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["showOnGrid"]}}
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <p-checkbox id="showOnGrid" name="showOnGrid" [formControl]="form.controls['showOnGrid']" value="true" binary="true"></p-checkbox>
                    </div>
                </div>
                <div class="field grid">
                    <label for="order" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["order"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-4 lg:col-3">
                        <p-inputNumber [showButtons]="true" formControlName="order" [min]="1" [max]="32000" [maxlength]="3" [step]="1"></p-inputNumber>
                    </div>
                </div>
                <div class="field grid">
                    <label for="inheritSecurity" class="col-12 md:col-4 lg:col-3">
                        {{fieldLabels["inheritSecurity"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-8 lg:col-9">
                        <p-checkbox id="inheritSecurity" name="inheritSecurity" [formControl]="form.controls['inheritSecurity']" value="true" binary="true"></p-checkbox>
                    </div>
                </div>
            </div>

            <br/>

            <div *ngIf="mustFieldControlHaveOptions(f.fieldControl.value)">
                <h5>{{fieldLabels['options']}}</h5>

                <div class="grid">
                    <div class="col-12 form-title-section">
                        <div class="form-toolbar">
                            <p-button type="button" label="{{l('Add')}}" icon="fa fa-plus" (onClick)="optionCreate()"></p-button>
                        </div>
                    </div>
                </div>

                <p-table [value]="model.options" dataKey="value" styleClass="p-datatable-striped p-datatable-sm">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>{{optionFieldLabels['description']}}</th>
                            <th>{{optionFieldLabels['value']}}</th>
                            <th style="width:8em">{{l('Actions')}}</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-ri="rowIndex">
                        <tr>
                            <td>
                                <div *ngIf="rowData['isEditable']" class="p-fluid">
                                    <input pInputText id="{{'description' + ri}}" type="text" [(ngModel)]="rowData.description" [ngModelOptions]="{standalone: true}" maxlength="100">
                                </div>
                                <div *ngIf="!rowData['isEditable']">
                                    {{rowData.description}}
                                </div>
                            </td>
                            <td>
                                <div *ngIf="rowData['isEditable']" class="p-fluid">
                                    <app-text-number min="0" [(ngModel)]="rowData.value" [ngModelOptions]="{standalone: true}" allowEmpty="true"></app-text-number>
                                </div>
                                <div *ngIf="!rowData['isEditable']">
                                    {{rowData.value}}
                                </div>
                            </td>
                            <td style="text-align:center">
                                <button *ngIf="!rowData['isEditable']" pButton type="button" icon="pi pi-pencil" class="ui-button-info" (click)="onRowEditInit(rowData, ri)"></button>
                                <button *ngIf="!rowData['isEditable']" pButton type="button" icon="fa fa-trash" class="ui-button-danger" style="margin-left: .5em" (click)="onRowEditDelete(ri)"></button>
                                <button *ngIf="rowData['isEditable']" pButton type="button" icon="pi pi-check" class="ui-button-success" (click)="onRowEditSave(rowData)"></button>
                                <button *ngIf="rowData['isEditable']" pButton type="button" icon="pi pi-times" class="ui-button-danger" style="margin-left: .5em" (click)="onRowEditCancel(rowData, ri)"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </form>
    </div>
</div>

<app-preloader [blocked]="blockedDocument"></app-preloader>
