<form [formGroup]="form">
    <div class="grid">

        <div class="col-12 form-title-section">
            <h3>
                {{l('Users')}}
                <p-button type="button" styleClass="p-button-text algoria-button-help" icon="pi pi-info-circle"
                          (onClick)="helpOnScreenService.show('ADMINISTRATION.USER.VIEW', true)"></p-button>
            </h3>
            <div class="form-toolbar">
                <p-button *ngIf="permissions.create" type="button" label="{{l('Create')}}" (onClick)="create()"></p-button>
            </div>
        </div>

        <div class="col-12">
            <div class="card">

                <p-table #dt1 [columns]="cols" [value]="data" [(selection)]="selectedItem" [lazy]="true"
                         (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="10"
                         [totalRecords]="pagedTableSummary.totalRecords" [rowsPerPageOptions]="[10,20,30,50,100]" dataKey="id"
                         selectionMode="single" sortField="id" stateStorage="local" [stateKey]="browserStorageTableKey"
                         styleClass="p-datatable-striped p-datatable-sm" class="p-datatable-responsive">

                    <ng-template pTemplate="caption">
                        <div class="grid p-fluid">
                            <div class="col-12 sm:col-6 md:col-6 lg:col-7">
                                <h5>{{l('Users')}}</h5>
                            </div>
                            <div class="col-12 sm:col-6 md:col-6 lg:col-5">
                                <div class="flex">
                                    <div class="flex-grow-1 flex align-items-right justify-content-right mt-2 mb-2 mr-2">
                                        <span class="p-input-icon-left">
                                            <i class="pi pi-search" aria-hidden="true"></i>
                                            <input type="text" pInputText placeholder="{{l('SearchDots')}}" formControlName="filterText" (keydown.enter)="filterSearch($event)" />
                                        </span>
                                    </div>
                                    <div class="flex-none flex align-items-right justify-content-right">
                                        <button pButton pRipple icon="pi pi-file" class="p-button-sm mt-2 mb-2 mr-2" (click)="exportView()" pTooltip="{{l('Views.Export')}}" tooltipPosition="top"></button>
                                    </div>
                                    <div class="flex-none flex align-items-right justify-content-right">
                                        <button pButton pRipple icon="pi pi-cog" class="p-button-sm mt-2 mb-2" (click)="configurateView(AppSettingsClient.ViewUsersConfig)" pTooltip="{{l('Views.Configurate')}}" tooltipPosition="top"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th scope="col" style="width:140px;">{{l('Actions')}}</th>
                            <ng-template ngFor let-col [ngForOf]="columns">
                                <th *ngIf="col.isActive !== false" scope="col" [pSortableColumn]="col.field"
                                    [style.width]="col.width">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </ng-template>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">

                            <td>
                                <div>
                                    <button pButton pRipple [disabled]="!permissions.edit" icon="pi pi-pencil" class="p-button-sm mr-2" (click)="edit(rowData.id)" pTooltip="{{l('Edit')}}" tooltipPosition="top"></button>
                                    <button pButton pRipple [disabled]="!permissions.delete" icon="pi pi-trash" class="p-button-sm p-button-danger mr-2" (click)="delete(rowData)" pTooltip="{{l('Delete')}}" tooltipPosition="top"></button>
                                    <p-speedDial [disabled]="!(createMenuItems(rowData).length > 0)" [model]="createMenuItems(rowData)" direction="right" buttonClassName="p-button-sm p-button-normal p-button-warning"></p-speedDial>
                                </div>
                            </td>
                            <ng-template ngFor let-col [ngForOf]="columns">
                                <td *ngIf="col.isActive !== false">
                                    <ng-container *ngIf="col.field === 'id'">
                                        <span class="p-column-title">{{col.header}}</span>
                                        <div class="p-column-content">{{rowData[col.field]}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'login'">
                                        <span class="p-column-title">{{col.header}}</span>
                                        <div class="p-column-content">{{rowData[col.field]}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'fullName'">
                                        <span class="p-column-title">{{col.header}}</span>
                                        <div class="p-column-content">{{rowData[col.field]}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'emailAddress'">
                                        <span class="p-column-title">{{col.header}}</span>
                                        <div class="p-column-content">{{rowData[col.field]}}</div>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'isActiveDesc'">
                                        <span class="p-column-title">{{col.header}}</span>
                                        <div class="p-column-content p-text-center">
                                            <span *ngIf="rowData.isActive" class="p-false-button p-false-button-sm-size">{{rowData.isActiveDesc}}</span>
                                            <span *ngIf="!rowData.isActive" class="p-false-button p-false-button-default p-false-button-sm-size">{{rowData.isActiveDesc}}</span>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'userLockedDesc'">
                                        <span class="p-column-title">{{col.header}}</span>
                                        <div class="p-column-content p-text-center">
                                            <span *ngIf="rowData.userLocked" class="p-false-button p-false-button-icon-only p-false-button-danger pi pi-lock"></span>
                                            <span *ngIf="!rowData.userLocked" class="p-false-button p-false-button-icon-only p-false-button-secundary pi pi-lock-open"></span>
                                        </div>
                                    </ng-container>
                                </td>
                            </ng-template>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft"></ng-template>
                    <ng-template pTemplate="paginatorright">
                        <div *ngIf="pagedTableSummary.totalRecords > 0" class="p-text-bold">
                            {{l('ShowingRecordsRange', pagedTableSummary.firstRecordInPage, pagedTableSummary.lastRecordInPage, pagedTableSummary.totalRecords)}}
                        </div>
                        <div *ngIf="pagedTableSummary.totalRecords == 0" class="p-text-bold">{{l('RecordsNotFound')}}</div>
                    </ng-template>
                </p-table>

            </div>
        </div>

    </div>
</form>
