<form [formGroup]="form" class="login" (ngSubmit)="onSubmit()">
    <div class="grid p-ai-stretch vertical-container" style="height: 100vh; margin: 0 !important;">
        <div class="col-12 md:col-6 lg:col-5 p-ai-stretch vertical-container" id="sectionForm">
            <div class="col-12 grid p-ai-stretch vertical-container">
                <div class="col-1 sm:col-2 md:col-2 lg:col-2"></div>
                <div class="col-10 sm:col-8 md:col-8 lg:col-8">
                    <img src="assets/layout/images/logo-algoria.svg" class="logo" />
                    <h3 class="title">{{l("ChangePassword")}}</h3>
                    <div class="p-fluid formgrid grid p-mb-4">
                        <div class="field col-12">
                            <label for="tenancyName">{{l('ChangePassword.Instance')}}</label>
                            <input type="text" pInputText formControlName="tenancyName" id="tenancyname" autocomplete="off" readonly />
                        </div>
                        <div class="field col-12">
                            <label for="username">{{l('ChangePassword.UserName')}}<span class="required"> *</span></label>
                            <input type="text" pInputText autocomplete="off" formControlName="userName" id="userName" readonly />
                            <small *ngIf="submitted && f.userName.invalid" id="userName-error" class="p-error">{{l("RequiredFieldWithoutParameters")}}</small>
                        </div>
                        <div class="field col-12">
                            <label for="currentPassword">{{l('ChangePassword.Password')}}<span class="required"> *</span></label>
                            <app-password-field formControlName="currentPassword" style="width: 100%;" [feedback]="false"></app-password-field>
                            <small *ngIf="submitted && f.currentPassword.invalid" id="currentPassword-error" class="p-error">{{l("RequiredFieldWithoutParameters")}}</small>
                        </div>
                        <div class="field col-12">
                            <label for="newPassword">{{l('ResetPasswrod.Password')}}<span class="required"> *</span></label>
                            <app-password-field formControlName="newPassword" style="width: 100%;"></app-password-field>
                            <small *ngIf="submitted && f.newPassword.invalid" id="newPassword-error" class="p-error">{{l("RequiredFieldWithoutParameters")}}</small>
                        </div>
                        <div class="field col-12">
                            <label for="confirmPassword">{{l('ResetPasswrod.ConfirmPassword')}}<span class="required"> *</span></label>
                            <app-password-field formControlName="confirmPassword" style="width: 100%;" [feedback]="false"></app-password-field>
                            <small *ngIf="submitted && f.confirmPassword.invalid" id="confirmPassword-error" class="p-error">{{l("RequiredFieldWithoutParameters")}}</small>
                        </div>
                    </div>

                    <div class="formgrid grid">
                        <div class="col-12 p-mb-6">
                            <p-button type="submit" label="{{l('ChangePassword.ChangePassword')}}" class="mr-5" [style]="{ 'margin-bottom': '1.5rem' }"></p-button>
                            <p-button type="button" label="{{l('Return')}}" (onClick)="return()" styleClass="p-button-secondary" [style]="{ 'margin-bottom': '1.5rem' }"></p-button>
                        </div>
                        <div class="col-12">
                            <p>{{l('Copyright', currentDateTime.getFullYear())}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-1 sm:col-2 md:col-2 lg:col-2"></div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-7 tile tileResetPassword" id="sectionImages">

        </div>
    </div>
</form>


