<form [formGroup]="form" class="login" (ngSubmit)="onSubmit()">
    <div class="grid p-ai-stretch vertical-container" style="height: 100vh; margin: 0 !important;">
        <div class="col-12 md:col-6 lg:col-5 p-ai-stretch vertical-container" id="sectionForm">
            <div class="col-12 grid p-ai-stretch vertical-container">
                <div class="col-1 sm:col-2 md:col-2 lg:col-2"></div>
                <div class="col-10 sm:col-8 md:col-8 lg:col-8">
                    <img src="assets/layout/images/logo-algoria.svg" class="logo" alt="{{l('LogoApp')}}" />
                    <h3 class="title">{{l("Login.SessionLogin")}}</h3>
                    <div class="p-fluid formgrid grid p-mb-4">
                        <div class="field col-12">
                            <label for="tenancyname">{{l('Login.Instance')}}</label>
                            <input type="text" pInputText formControlName="tenancyname" id="tenancyname" autocomplete="off" maxlength="50" />
                            <small *ngIf="submitted && f.tenancyname.invalid" id="tenancyname-error" class="p-error">{{l("RequiredFieldWithoutParameters")}}</small>
                        </div>
                        <div class="field col-12">
                            <label for="username">{{l('Login.UserName')}}<span class="required"> *</span></label>
                            <input type="text" pInputText autocomplete="off" formControlName="username" id="username" />
                            <small *ngIf="submitted && f.username.invalid" id="username-error" class="p-error">{{l("RequiredFieldWithoutParameters")}}</small>
                        </div>
                        <div class="field col-12">
                            <label for="password">{{l('Login.Password')}}<span class="required"> *</span></label>
                            <app-password-field formControlName="password" style="width: 100%;" [feedback]="false"></app-password-field>
                            <small *ngIf="submitted && f.password.invalid" id="password-error" class="p-error">{{l("RequiredFieldWithoutParameters")}}</small>
                        </div>
                    </div>

                    <div class="formgrid grid">
                        <div class="col-12 p-mb-2">
                            <p-button type="submit" label="{{l('Login.Login')}}" id="btnLogin" class="mr-5" [style]="{ 'margin-bottom': '1.5rem' }"></p-button>
                            <p-button type="button" label="{{l('Login.AreYouNew')}}" (onClick)="gotoRegister()" styleClass="p-button-secondary" [style]="{ 'margin-bottom': '1.5rem' }"></p-button>
                        </div>
                        <div class="col-12 p-mb-6">
                            <a routerLink="/account/forgot-password" id="forget-password">{{l('Login.ForgotPassword')}}</a>
                        </div>
                        <div class="col-12">
                            <p>{{l('Copyright', currentDateTime.getFullYear())}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-1 sm:col-2 md:col-2 lg:col-2"></div>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-7 grid p-ai-stretch vertical-container" id="sectionImages">
            <div class="col-6 tile tile1">

            </div>
            <div class="col-6 tile tile2">

            </div>
            <div class="col-6 tile tile3">

            </div>
            <div class="col-6 tile tile4">

            </div>
        </div>
    </div>
</form>
