<form [formGroup]="form">
    <div class="grid">

        <div class="col-12 form-title-section">
            <h3>
                {{title}}
            </h3>
            <div class="form-toolbar">
                <p-button *ngIf="permissions.create" type="button" label="{{l('Create')}}" (onClick)="create()"></p-button>
            </div>
        </div>

        <div class="col-12">
            <div class="card">

                <p-table #dt1 [columns]="cols" [value]="data" [(selection)]="selectedItem" [lazy]="true" (onLazyLoad)="loadData($event)" [paginator]="true"
                         [rows]="10" [totalRecords]="pagedTableSummary.totalRecords" [rowsPerPageOptions]="[10,20,30,50,100]" dataKey="_id" selectionMode="single"
                         stateStorage="local" [stateKey]="browserStorageTableKey" 
                         styleClass="p-datatable-striped p-datatable-sm" 
                         [scrollable]="true">

                    <ng-template pTemplate="caption">
                        <div class="grid p-fluid">
                            <div class="col-12 sm:col-7 md:col-8 lg:col-9">
                                <h5>{{catalog.namePlural}}</h5>
                            </div>
                            <div class="col-12 sm:col-5 md:col-4 lg:col-3">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search" aria-hidden="true"></i>
                                    <input type="text" pInputText placeholder="{{l('SearchDots')}}" formControlName="filterText" (keydown.enter)="filterSearch($event)" />
                                </span>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="colgroup" let-columns>
                        <colgroup>
                            <col style="width:250px;" />
                            <col *ngFor="let col of columns" [style.min.width]="col.width">
                        </colgroup>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th id="colActions" style="width:250px;">{{l('Actions')}}</th>
                            <th scope="col" *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                <div>
                                    <button pButton pRipple [disabled]="!canEdit(rowData)" icon="pi pi-pencil" class="p-button-sm mr-2" (click)="edit(rowData._id)" pTooltip="{{l('Edit')}}" tooltipPosition="top"></button>
                                    <button pButton pRipple [disabled]="!canDelete(rowData)" icon="pi pi-trash" class="p-button-sm p-button-danger mr-2" (click)="delete(rowData._id)" pTooltip="{{l('Delete')}}" tooltipPosition="top"></button>
                                    <button pButton pRipple icon="pi pi-eye" class="p-button-sm p-button-warning" (click)="consult(rowData._id)" pTooltip="{{l('Consult')}}" tooltipPosition="top"></button>
                                </div>
                            </td>
                            <td scope="col" *ngFor="let col of columns">
                                <span class="p-column-title">{{col.header}}</span>
                                <div class="p-column-content" [style.text-align]="(col.fieldType === QuestionnaireFieldType.Integer || col.fieldType === QuestionnaireFieldType.Decimal) ? 'right' : 'left'">
                                    {{transformColumnValueToDisplay(rowData[col.field], col)}}
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft"></ng-template>
                    <ng-template pTemplate="paginatorright">
                        <div *ngIf="pagedTableSummary.totalRecords > 0" class="p-text-bold">
                            {{l('ShowingRecordsRange', pagedTableSummary.firstRecordInPage, pagedTableSummary.lastRecordInPage, pagedTableSummary.totalRecords)}}
                        </div>
                        <div *ngIf="pagedTableSummary.totalRecords == 0" class="p-text-bold">{{l('RecordsNotFound')}}</div>
                    </ng-template>
                </p-table>

            </div>
        </div>

    </div>
</form>
