<div class="grid" *ngIf="model">

    <div class="col-12 form-title-section">
        <h3>
            {{model.catalogCustom.nameSingular}}
        </h3>
        <div class="form-toolbar">
            <p-button type="button" styleClass="p-button-secondary" label="{{l('Return')}}" (onClick)="return()"></p-button>
        </div>
    </div>

    <div class="col-12">
        <app-questionnaire [questionnaire]="model.questionnaire" [value]="model.data" [readOnly]="true"></app-questionnaire>
    </div>
</div>
