<div class="grid">

    <div class="col-12 form-title-section">
        <div></div>
        <div class="form-toolbar">
            <p-button type="button" styleClass="p-button-secondary" label="{{l('Return')}}" (onClick)="return()"></p-button>
            <p-button type="button" label="{{l('Save')}}" (onClick)="save()"></p-button>
            <p-button type="button" styleClass="p-button-rounded p-button-warning" icon="pi pi-question" (onClick)="helpOnScreenService.show('PROCESSES.PROCESSACTIVITYTIMESHEET.FORM', true)"></p-button>
        </div>
    </div>

    <div class="col-12">

        <form [formGroup]="form">
            <div class="p-fluid">
                <div class="field grid">
                    <label for="creationDate" class="col-12 md:col-3 lg:col-3">
                        {{fieldLabels["creationDate"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-5 lg:col-3">
                        <p-calendar formControlName="creationDate" [locale]="appDatetimeControlsLocale" dateFormat="dd/mm/yy" showButtonBar="true"></p-calendar>
                    </div>
                </div>
                <div class="field grid">
                    <label for="hoursSpend" class="col-12 md:col-3 lg:col-3">
                        {{fieldLabels["hoursSpend"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-5 lg:col-3">
                        <app-text-number formControlName="hoursSpend" allowEmpty="true" useMilesSep="true" decimals="2"></app-text-number>
                    </div>
                </div>
                <div class="field grid">
                    <label for="comments" class="col-12 md:col-3 lg:col-3">
                        {{fieldLabels["comments"]}}<span class="required"> *</span>
                    </label>
                    <div class="col-12 md:col-9 lg:col-9">
                        <textarea formControlName="comments" [rows]="5" maxlength="250" style="width: 100%;" pInputTextarea></textarea>
                    </div>
                </div>
                <div class="field grid">
                    <label for="activityStatus" class="col-12 md:col-3 lg:col-3">
                        {{fieldLabels["activityStatus"]}}
                    </label>
                    <div class="col-12 md:col-9 lg:col-9">
                        <p-dropdown [options]="model.activityStatusCombo" formControlName="activityStatus" filter="true" placeholder="{{l('Select')}}" emptyFilterMessage="{{l('RecordsNotFound')}}"></p-dropdown>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<app-preloader [blocked]="blockedDocument"></app-preloader>
