<p-password [(ngModel)]="value" promptLabel="{{l('PasswordField.PromptLabel')}}" weakLabel="{{l('PasswordField.PasswordWeak')}}"
            mediumLabel="{{l('PasswordField.PasswordMedium')}}" strongLabel="{{l('PasswordField.PasswordStrong')}}" toggleMask="true"
            (change)="onChange($event)" [feedback]="feedback">
    <ng-template pTemplate="footer">
        <p-divider></p-divider>
        <p class="p-mt-2">{{l('PasswordField.Rules')}}</p>
        <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
            <li>{{l('PasswordField.Rules.MinimumLength', passwordComplexity.minimumLength)}}</li>
            <li>{{l('PasswordField.Rules.MaximumLength', passwordComplexity.maximumLength)}}</li>
            <li *ngIf="passwordComplexity.useNumbers">{{l('PasswordField.Rules.UseNumbers')}}</li>
            <li *ngIf="passwordComplexity.useUppercase">{{l('PasswordField.Rules.UseUppercase')}}</li>
            <li *ngIf="passwordComplexity.useLowercase">{{l('PasswordField.Rules.UseLowercase')}}</li>
            <li *ngIf="passwordComplexity.usePunctuationSymbols">{{l('PasswordField.Rules.UsePunctuationSymbols')}}</li>
        </ul>
    </ng-template>
</p-password>
