<form [formGroup]="form">

    <div class="grid">

        <div class="col-12">
            {{modalConfig.data.message}}
        </div>

        <div class="col-12">
            <div class="p-fluid formgrid grid">
                <div class="field col-12">
                    <label for="prompt">{{fieldLabels['prompt']}}</label><span class="required" *ngIf="modalConfig.data.required"> *</span>
                    <textarea formControlName="prompt" [rows]="5" style="width: 100%;" pInputTextarea [maxlength]="modalConfig.data.maxLength"></textarea>
                </div>
            </div>

        </div>

    </div>
</form>
