<form [formGroup]="form">
    <div class="grid">

        <div class="col-12">
            <div style="text-align:right;">
                <p-button type="button" styleClass="p-button-secondary" label="{{l('Return')}}" (onClick)="return()" [style.margin-left.px]="10"></p-button>
                <p-button type="button" label="{{l('Save')}}" (onClick)="save()" [style.margin-left.px]="10"></p-button>
            </div>
        </div>


        <div class="col-12">
            <div class="p-fluid formgrid grid">
                <div class="field col-12">
                    <label for="{{fieldLabels['direccion']}}">{{fieldLabels['direccion']}}</label>
                    <app-google-address #gAddress formControlName="direccion" (change)="updateMap(gAddress)" style="z-index:9999;"></app-google-address>
                </div>

                <div class="col-12">
                    <google-map *ngIf="center" width="100%" height="320px" [zoom]="zoom" [center]="center" [options]="mapOptions" (mapClick)="handleMapClick($event)">
                        <map-marker *ngIf="marker" [position]="marker.position" [draggable]="marker.draggable"></map-marker>
                    </google-map>
                </div>
            </div>

        </div>

    </div>
</form>

<app-preloader [blocked]="blockedDocument"></app-preloader>
