<form [formGroup]="form">
    <div class="grid">

        <div class="col-12">

                <p-table #dt1 [columns]="cols" [value]="data" [(selection)]="selectedItem" [lazy]="true"
                         (onLazyLoad)="loadData($event)" [paginator]="true" [rows]="10"
                         [totalRecords]="pagedTableSummary.totalRecords" [rowsPerPageOptions]="[10,20,30,50,100]" dataKey="id"
                         selectionMode="single" sortField="id" styleClass="p-datatable-striped p-datatable-sm" class="p-datatable-responsive">
                    <ng-template pTemplate="caption">
                        <div class="grid p-fluid">
                            <div class="col-12 sm:col-7 md:col-8 lg:col-9">
                            </div>
                            <div class="col-12 sm:col-5 md:col-4 lg:col-3">
                                <span class="p-input-icon-left">
                                    <i class="pi pi-search" aria-hidden="true"></i>
                                    <input type="text" pInputText placeholder="{{l('SearchDots')}}" formControlName="filterText" (keydown.enter)="filterSearch($event)" />
                                </span>
                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th scope="col" style="width:140px;">{{l('Actions')}}</th>
                            <th scope="col" *ngFor="let col of columns" [pSortableColumn]="col.field" [style.width]="col.width">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                <div>
                                    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-sm mr-2" (click)="select($event, rowData)" pTooltip="{{l('Select')}}" tooltipPosition="top"></button>
                                </div>
                            </td>
                            <td>
                                <span class="p-column-title">{{getHeaderTitleColumn(columns, 'id')}}</span>
                                <div class="p-column-content">{{rowData.id}}</div>
                            </td>
                            <td>
                                <span class="p-column-title">{{getHeaderTitleColumn(columns, 'login')}}</span>
                                <div class="p-column-content">{{rowData.login}}</div>
                            </td>
                            <td>
                                <span class="p-column-title">{{getHeaderTitleColumn(columns, 'name')}}</span>
                                <div class="p-column-content">{{rowData.fullName}}</div>
                            </td>
                            <td>
                                <span class="p-column-title">{{getHeaderTitleColumn(columns, 'emailAddress')}}</span>
                                <div class="p-column-content">{{rowData.emailAddress}}</div>
                            </td>
                            <td>
                                <span class="p-column-title">{{getHeaderTitleColumn(columns, 'isActive')}}</span>
                                <div class="p-column-content p-text-center">
                                    <span *ngIf="rowData.isActive" class="p-false-button p-false-button-sm-size">{{rowData.isActiveDesc}}</span>
                                    <span *ngIf="!rowData.isActive" class="p-false-button p-false-button-sm-size">{{rowData.isActiveDesc}}</span>
                                </div>
                            </td>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="paginatorleft"></ng-template>
                    <ng-template pTemplate="paginatorright">
                        <div *ngIf="pagedTableSummary.totalRecords > 0" class="p-text-bold">
                            {{l('ShowingRecordsRange', pagedTableSummary.firstRecordInPage, pagedTableSummary.lastRecordInPage, pagedTableSummary.totalRecords)}}
                        </div>
                        <div *ngIf="pagedTableSummary.totalRecords == 0" class="p-text-bold">{{l('RecordsNotFound')}}</div>
                    </ng-template>
                </p-table>

        </div>

    </div>
</form>

<app-preloader [blocked]="blockedDocument"></app-preloader>
