<div class="ui-fluid">

    <div class="ui-g">
        <div class="ui-g-12" style="text-align:right;">
            <p-button type="button" styleClass="p-button-secondary" label="{{l('Return')}}" (onClick)="return()" [style.margin-left.px]="10"></p-button>
            <p-button type="button" label="{{l('Save')}}" (onClick)="save()" [style.margin-left.px]="10"></p-button>
            <p-button type="button" label="{{l('ShowChangeHistory')}}" (onClick)="showChangeHistory()" [style.margin-left.px]="10" *ngIf="id"></p-button>
            <p-button type="button" styleClass="p-button-rounded p-button-warning" icon="pi pi-question" (onClick)="helpOnScreenService.show('PROCESSES.TEMPLATETODOSTATUS.FORM', true)"></p-button>
        </div>
    </div>

    <form [formGroup]="form">

        <div class="ui-g form-group">
            <div class="ui-g-12 ui-lg-3 ui-md-4">
                <label for="type">{{fieldLabels["type"]}}<span class="required"> *</span></label>
            </div>
            <div class="ui-g-12 ui-lg-9 ui-md-8">
                <p-dropdown [options]="typeCombo" formControlName="type" filter="true" placeholder="{{l('Select')}}" emptyFilterMessage="{{l('RecordsNotFound')}}"></p-dropdown>
            </div>
        </div>

        <div class="ui-g form-group">
            <div class="ui-g-12 ui-lg-3 ui-md-4">
                <label for="name">{{fieldLabels["name"]}}<span class="required"> *</span></label>
            </div>
            <div class="ui-g-12 ui-lg-9 ui-md-8">
                <input type="text" formControlName="name" id="name" autocomplete="off" maxlength="50" pInputText />
            </div>
        </div>

        <div class="ui-g form-group">
            <div class="ui-g-12 ui-lg-3 ui-md-4">
                <label for="isDefault">{{l('TemplateToDoStatus.TemplateToDoStatus.IsDefault')}}</label>
            </div>
            <div class="ui-g-12 ui-lg-9 ui-md-8">
                <p-checkbox id="isDefault" name="isDefault" [formControl]="form.controls['isDefault']" value="true" binary="true"></p-checkbox>
            </div>
        </div>

        <div class="ui-g form-group">
            <div class="ui-g-12 ui-lg-3 ui-md-4">
                <label for="isActive">{{l('IsActive')}}</label>
            </div>
            <div class="ui-g-12 ui-lg-9 ui-md-8">
                <p-checkbox id="isActive" name="isActive" [formControl]="form.controls['isActive']" value="true" binary="true"></p-checkbox>
            </div>
        </div>

    </form>

</div>

<app-preloader [blocked]="blockedDocument"></app-preloader>
