<form [formGroup]="form">
    <div class="grid">

        <div class="col-12 form-title-section">
            <h3>
                {{l('Maintenance')}}
                <p-button type="button" styleClass="p-button-text algoria-button-help" icon="pi pi-info-circle"
                          (onClick)="helpOnScreenService.show('ADMINISTRATION.MAINTENANCE.VIEW', true)"></p-button>
            </h3>
        </div>

        <div class="col-12">
            <div class="card">
                <p-tabView>
                    <p-tabPanel header="{{l('Maintenance.WebSiteLogs')}}">

                        <div class="grid">
                            <div class="col-12 form-title-section">
                                <p>{{l('Maintenance.WebSiteLogsHeaderInfo')}}</p>
                                <div class="form-toolbar">
                                    <p-button type="button" label="{{l('DownloadAll')}}" (onClick)="downloadWebLogs()"
                                              icon="pi pi-download"></p-button>
                                    <p-button type="button" label="{{l('Refresh')}}" (onClick)="getWebLogs()"
                                              icon="pi pi-refresh"></p-button>
                                </div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="web-log-view full-height">
                                <span class="log-line" *ngFor="let log of logs">
                                    <span [class]="getLogClass(log)">{{getLogType(log)}}</span>
                                    {{getRawLogContent(log)}}
                                </span>
                            </div>
                        </div>

                    </p-tabPanel>
                </p-tabView>
            </div>
        </div>

    </div>
</form>
